a {
  color: rgb(46, 46, 46);
  text-decoration: none;
}

li {
  list-style: none;
}

/* Navbar */
.nav {
  outline: 1px solid black;
  height: 50px;
  position: relative;
  display: flex;
  align-items: center;
}

#sideNav {
  width: 300px;
  position: relative;
  height: calc(100vh - 50px);
  border-right: 1px solid #6482B9;
  padding-top: 10px;
}

.show {
  display: block;
}

.hide {
  display: none;
}

#sideNav > .schedule {
  position: relative;
  width: 60vw;
  max-width: 230px;
  font-size: 20px;
  font-weight: bold;
  margin: 0px 10px 10px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

#sideNav > .schedule > li {
  width: calc(100% - 60px);
  padding: 10px 60px 0px 0px;
}

#sideNav > .schedule > li > span {
  display: inline-block;
  margin: 8px;
  font-size: 17px;
}

.hamburger {
  font-size: 170%;
  position: relative;
  top: 20%;
  left: 30px;
  cursor: pointer;
}

.hamburger:hover {
  color: #787878;
}

.close {
  font-size: 170%;
  font-weight: bold;
  position: relative;
  top: 20%;
  left: 30px;
  cursor: pointer;
}

.close:hover {
  color: #787878;
}

/* Sidebar */
.sidebar-navigation {
  position: sticky;
  top: 200px;
  width: 10.5rem;
  height: 100%;
  position: fixed;
  left: 19rem;
  top: 12rem;
  transform: translate(1em, 12rem)
}

.addBtn {
  color: black;
  background-color: #E0EBFF;
  border-radius: 7px;
  position: relative;
  width: 230px;
  padding: 15px;
  text-align: center;
  margin: 20px 10px 10px;
  cursor: pointer;
}

.addBtn:hover {
  background-color: #B8D7FF;
}

.addBtn > li {
  font-size:14px;
  margin-top: 10px;
  padding: 10px;
}

.addBtn > li:hover {
  color: red;
  font-weight: bold;
  background-color: #E0EBFF;
  border-radius: 7px;
}

.hr {
  border: 0;
  width: 90%;
  text-align: center;
  height: 1px;
  background-color: #86A5FF;
  margin-top: 15px;
}

/* Modal */
.isOpen {
  display: block;
}

/* Dropdown */
@keyframes slide-fade-in-dropdown-animation {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

.slide-fade-in-dropdown {
  overflow: hidden;
}

.slide-fade-in-dropdown > ul {
  animation: slide-fade-in-dropdown-animation .4s ease;
}

@keyframes slide-fade-out-dropdown-animation {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}

.slide-fade-out-dropdown {
  overflow: hidden;
}

.slide-fade-out-dropdown > ul {
  animation: slide-fade-out-dropdown-animation 0.4s ease;
  animation-fill-mode: forwards;
}

.components-dropdown > ul {
  position: relative;
  top: 5px;
  margin-top: 0;
  margin-bottom: 5px;
  padding-left: 0;
  list-style: none;
}