a {
  color: rgb(46, 46, 46);
  text-decoration: none;
}

li {
  list-style: none;
}

/* Navbar */
.nav {
  outline: 1px solid black;
  width: 100%;
  height: 50px;
  position: relative;
  display: inline-block;
  align-items: center;
  padding-left: 1%;
}

.nav.sidebarVisible {
  margin-left: 315px;
}

.search {
  position: relative;
  place-items: center;
  top: -22px;
  left: 25%;
  width: 700px;
  height: 28px;
  border-radius: 30px;
  text-align: center;
}

#sideNav {
  width: 300px;
  height: calc(100vh - 70px);
  left: 0px;
  position: absolute;
  margin-top: 23px;
  padding-left: 15px;
  background-color: #f6faff;
}

.show {
  display: block;
}

.hide {
  display: none;
}

#sideNav > .schedule {
  position: relative;
  width: 60vw;
  max-width: 230px;
  font-size: 20px;
  font-weight: bold;
  margin: 20px 10px 10px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

#sideNav > .schedule > li {
  width: calc(100% - 60px);
  padding: 10px 60px 0px 0px;
}

#sideNav > .schedule > li > span {
  display: inline-block;
  margin: 8px;
  font-size: 17px;
}

.hamburger {
  font-size: 180%;
  position: relative;
  top: 12px;
  left: 20px;
  cursor: pointer;
}

.hamburger:hover {
  color: #787878;
}

.close {
  font-size: 170%;
  font-weight: bold;
  position: relative;
  top: 12px;
  left: 20px;
  cursor: pointer;
}

.close:hover {
  color: #787878;
}

/* Sidebar */
.sidebar-navigation {
  position: sticky;
  top: 200px;
  width: 10.5rem;
  height: 100%;
  position: fixed;
  left: 19rem;
  top: 12rem;
  transform: translate(1em, 12rem)
}

.addBtn {
  color: black;
  background-color: #E0EBFF;
  border-radius: 7px;
  position: relative;
  width: 230px;
  padding: 15px;
  text-align: center;
  margin: 25px 10px 10px;
  cursor: pointer;
  z-index: 2;
}

.addBtn:hover {
  background-color: #B8D7FF;
}

.addBtn > li {
  font-size:14px;
  margin-top: 10px;
  padding: 10px;
}

.addBtn > li:hover {
  color: red;
  font-weight: bold;
  background-color: #E0EBFF;
  border-radius: 7px;
}

.hr {
  border: 0;
  width: 90%;
  text-align: center;
  height: 1px;
  background-color: #86A5FF;
  margin-top: 15px;
}

/* Modal */
.isOpen {
  display: block;
}

.ModalNav {
  width: 300px;
  height: 50px;
  background-color: yellow;
}

.Modalcontainer {
  width: 300px;
  height: 200px;
  z-index: 5;
  position: fixed; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  background-color: red;
  border: 1px solid black;
  border-radius: 8px;
}

.ModalClose {
  position: absolute;
  right: 10px;
  top: 10px;
}

/* TaskCalendar */
.userCalendar {
  font-size: 30px;
  display: inline-block;
  position: absolute;
  top: 70px;
  left: 130px;
}

.taskCalendar {
  width: 100%;
  height: 130px;
  border-bottom: 1px solid black;
  position: relative;
}

.mainCalendar {
  background-color: yellow;
  width: 100%;
  height: calc(100vh - 200px);
}

.taskCalendar.sidebarVisible {
  width: calc(100% - 315px); 
  margin-left: 315px;
}

.mainCalendar.sidebarVisible {
  width: calc(100% - 315px); 
  margin-left: 315px;
}

.TeamBtn {
  position: absolute; 
  border: none;
  border-radius: 7px;
  width: 130px;
  height: 40px;
  background-color: #E0EBFF;
  top: 10px;
  right: 10px; 
  cursor: pointer;
}

.TeamBtn:hover {
  background-color: #B8D7FF;
}

.TodayBtn {
  position: relative; 
  border: none;
  border-radius: 7px;
  width: 80px;
  height: 30px;
  background-color: #E0EBFF;
  top: 10px;
  left: 10px;
  display: inline-block;
  cursor: pointer;
}

.TodayBtn:hover {
  background-color: #B8D7FF;
}

/* Dropdown */
@keyframes slide-fade-in-dropdown-animation {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

.slide-fade-in-dropdown {
  overflow: hidden;
}

.slide-fade-in-dropdown > ul {
  animation: slide-fade-in-dropdown-animation .4s ease;
}

@keyframes slide-fade-out-dropdown-animation {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}

.slide-fade-out-dropdown {
  overflow: hidden;
}

.slide-fade-out-dropdown > ul {
  animation: slide-fade-out-dropdown-animation 0.4s ease;
  animation-fill-mode: forwards;
}

.components-dropdown > ul {
  position: relative;
  top: 5px;
  margin-top: 0;
  margin-bottom: 5px;
  padding-left: 0;
  list-style: none;
}